* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 40px 5px;
}

.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card a{
    text-decoration: none;
}

.card a img{
    height: 200px;
    border-radius: 10px;
}

.card a h3{
   color: black;
   padding: 5px 0px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
